version: '3'

services:
  payload:
    image: nanet-portfolio
    container_name: nanet-portfolio
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.payload.rule=Host(`test.exp.leesavage.co.uk`)'
      - 'traefik.http.routers.payload.entrypoints=websecure'
      - 'traefik.http.routers.payload.tls=true'
      - 'traefik.http.routers.payload.tls.certresolver=le'

volumes:
  data:
  node_modules:
