version: '3'

services:
  payload:
    image: nanet-portfolio
    container_name: nanet-portfolio
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.whoami.rule=Host(test.ext.leesavage.co.uk)'
      - 'traefik.http.routers.whoami.entrypoints=websecure'
      - 'traefik.http.routers.whoami.tls=true'
      - 'traefik.http.routers.whoami.tls.certresolver=le'

volumes:
  data:
  node_modules:
