version: '3'

services:
  payload:
    image: leesavage09/nanet-portfolio
    container_name: nanet-portfolio
    restart: unless-stopped
    networks:
      - traefik-network
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.payload.rule=Host(`test.exp.leesavage.co.uk`)'
      - 'traefik.http.routers.payload.entrypoints=websecure'
      - 'traefik.http.routers.payload.tls=true'
      - 'traefik.http.routers.payload.tls.certresolver=le'
      - 'traefik.http.services.payload.loadbalancer.server.port=3000'
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PAYLOAD_SECRET=${PAYLOAD_SECRET}
      - CRON_SECRET=${CRON_SECRET}
      - NEXT_PUBLIC_SERVER_URL=${NEXT_PUBLIC_SERVER_URL}
      - PREVIEW_SECRET=${PREVIEW_SECRET}
volumes:
  data:
  node_modules:

networks:
  traefik-network:
    external: true
